pkgbase = archlabs-common
	pkgdesc = Common and help files for archlabs-pipemenus
	pkgver = 1.3.7
	pkgrel = 2
	url = https://bitbucket.org/archlabslinux/common
	arch = x86_64
	groups = archlabs
	license = GPL3
	source = git+https://bitbucket.org/archlabslinux/common.git
	sha256sums = SKIP

pkgname = archlabs-common

