pkgbase = archlabs-icons
	pkgdesc = A Combination of Paper and Papirus Icons for use in ArchLabs
	pkgver = 1.4
	pkgrel = 2
	url = https://bitbucket.org/archlabslinux/themes
	arch = x86_64
	groups = archlabs
	source = git+https://bitbucket.org/archlabslinux/themes.git
	sha256sums = SKIP

pkgname = archlabs-icons
